/* Resets */
*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
}


/* Main styles */



body {
	font-family: Roboto Condensed, sans-serif;
	color: #000;
	font-size: 100%;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #006;
	outline: none;
}

 .logo {
	position:absolute;
	 width: 40%;
   }	
   .sign{
	   position:absolute;
	   left:40%;
	   top:20px; 
   }
   .sublogo {
	    position:absolute;
	   top:100px;
	   left:46%;
	   font-weight:700;
	   font-style:italic;}

/* Main menu */
.main-menu-samotok {  
    position: fixed;
	z-index:100;
	
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform:rotate(-5deg);
	
    top: 60px;
    right: -10px;
    width: 700px;
	line-height: 10px;
	
	background: #FFEF29;
    border: 0px;
	padding:0;
	opacity: .9;
	filter: alpha(Opacity=80);
	 
	clear: both;
	display: block;
	
	
	list-style-type: none;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-style: italic;
	
}
	.main-menu-samotok li {
	display:inline;
	margin-left:8;
	margin-right:8;
}
	.main-menu-samotok a {
    transition: .5s;
    color: #006;
    padding: 7px;
    text-decoration: none;
}
    .main-menu-samotok a:hover {
	color:#05AAF7;
}
   .main-menu-samotok a:active {
	color: #FFFfff;
	background-color:#e06d5e;
}
  
   .menu-lang {
	   
	
	   background-color:#F99;
	   
}	

    
   

   
 /* Product grid */  
.grid {
	position: relative;
	overflow: hidden;
	max-width: 1700px;
	margin: 0 auto;
	padding: 1.5em 0 8em;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
}



/* Grid items */


.grid-item {
	position: relative;
	float: left;
	
	padding:30px;
	
}





.grid-item--size-a {
	
}
.grid-item--size-b {
		
}

  
  
/* Gallery */

.main-carousel{margin:auto;
	padding: 0;
width: 500px;}

.carousel-cell {
	
  width: 100%;
  height: 500px; /* height of carousel */
  margin-right: 10px;
  
}



.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  background: transparent;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
.flickity-page-dots {
  bottom: 20px;
  opacity:.8;
  /*opacity: 0;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;*/
}
/* .slider:hover .flickity-page-dots {
	opacity: .8;
}*/
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}
.flickity-page-dots .dot.is-selected {
  background: white;
}
/*white circles 
.flickity-page-dots {
  bottom: 0px;
}

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

.flickity-page-dots .dot.is-selected {
  background: white;
}
*/

/* Product meta */

.meta {
	position: relative;
	margin: 30px 0 0;
	padding: 0 60px 0 0;
	text-align: left;
}

.meta__description {
	font-size: .85em;
	font-weight: 400;
	padding-left:20px;
	display: block;
    color:#000;
	background-color: #05AAF7;
}

.meta__title {
	color:#006;
	text-align:left;
	font-family: 'Roboto Condensed', sans-serif;
	font-style:italic;
	 font-weight:400;
	font-size: 1.3em;
	
	opacity: 0.8; /* Полупрозрачность таблицы */
	filter: alpha(Opacity=80); /* Для IE */
	line-height: 15px;
	margin: 0;
	
	
}

.meta__author {
	text-align:right;
	font-size: .95em;
	font-weight: 400;
	min-width:150px;
	position: absolute;
	top: .5em;
	right: .9em;
	color:#006;
	background-color:#FFEF29;
	padding: 1.5em 0 .1em;
	
	opacity: 0.8; /* Полупрозрачность таблицы */
	filter: alpha(Opacity=80); /* Для IE */
}

/* Action style */

.action {
	font-family: 'Roboto Condensed', sans-serif;
	font-style:italic;
	font-weight:400;
	text-transform:uppercase;
	font-size: 1.05em;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: .25em;
	cursor: pointer;
	color: #fff;
	border: none;
	background: none;
}

.action:focus {
	outline: none;
}

.action--button {
	color: #05AAF7;
}

.no-touch .action--button:hover {
	color: #006;
	outline: none;
}

.text-hidden {
	position: absolute;
	top: 200%;
}

/* Add to cart button */

.actionb {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.85em 2.35em;
	-webkit-transition: opacity .3s, -webkit-transform .3s;
	transition: opacity .3s, transform .3s;
	-webkit-transform: translate3d(-5px, 0, 0);
	transform: translate3d(-5px, 0, 0);
}

.actionb {
	opacity: 0;
}

.grid-item:hover .actionb {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.actionb img {
	position:relative;
	bottom:20px;
	opacity:.4;

}

/* Fixed bottom bar */

.bar {
	position: fixed;
	z-index: 101;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0.1em 0.5em;
	text-align: center;
		background: #FFEF29;
		height:15px;
}
.barimg {
	position:absolute;
	top:-60px;}
	.podpis {
		position:absolute;
		bottom:5px;
		right:20px;
		font-size:.9em;
		font-weight:400;
		font-style:italic;
		text-align:right;
		margin-right:20px;}



@media screen and (max-width: 1500px) {
	.main-carousel{
		
	min-width:400px;
	}
	
	
	
	.main-menu-samotok {  
  
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	transform:rotate(-15deg);
	
    right: -20px;
    width: 600px;
	}
	
}

@media screen and (max-width: 1000px) {
	
	.main-carousel{
		width:400px;
	}
	.carousel-cell{height:400px;}
	

	.main-menu-samotok {  
  
	-webkit-transform: rotate(-25deg);
	-moz-transform: rotate(-25deg);
	-o-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
	transform:rotate(-25deg);
	top:100px;
    right: -40px;
    width: 500px;
	}
}

@media screen and (max-width: 900px) {
	.main-carousel{
		width:400px;
	}
	
	
	
		.main-menu-samotok {  
  
	-webkit-transform: rotate(-70deg);
	-moz-transform: rotate(-70deg);
	-o-transform: rotate(-70deg);
	-ms-transform: rotate(-70deg);
	transform:rotate(-70deg);
	top:190px;
    right: -160px;
    width: 500px;
	}
}

@media screen and (max-width: 504px) {
	.grid { 
	max-width:100%;
	}
	 .logo {
	
	 width: 100%;
   }
	 .logoimg {
	
	 width: 100%;
   }
   .slider {
	  width:100%;}
	
	.main-carousel { 
	width: 100%;
	}
	.carousel-cell{ 
	height:300px;
	width:  100%;
	}
	
	.actionb {
		font-size: 1.5em;
		padding: 1.15em 1.5em;
		-webkit-tap-highlight-color: transparent;
	}
	
	.main-menu-samotok {  
  
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform:rotate(-90deg);
	top:200px;
    right: -230px;
    width: 500px;
	}
}
